@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap");
@import "tailwindcss";

@theme {
  --font-tenor: "Tenor Sans", sans-serif;
  --color-primary: #0d0d0d;
  --color-secondary: #5b5b5b;
  --color-accent: #858585;
  --color-background: #f9f9f9;
  --color-gold: #eeb415;
}

.custom-rate .ant-rate-star-zero svg {
  color: #bbb !important;
  /* tanlanmagan yulduzcha rangi */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* // 1 Feliz parent categoryni togrilash yani parentlar kategoriyalarni
// 2 Shu bilan birga mobile versiyasida Tab name togrilash Felizani bosganida nessa tamon otib ketishini
// 4 Admin panelda Cahegirma qismiga edit va deletilar va qogan yana 1 2 funksiyalarni qoshish
// 6 Admin panelda sharhlarni qaytdan tejshirish rasim nega ochilmayotkanini
// @tooday_b */

/* // Bogan ishlar royhati
// 3 Agarda savatcha bosh bolsa sotib ol degan va tagidan saytda yangi cartlarni korsatib turish
// 5 Va saytda izohlar qismida barchasini korish button bosganida oyna ochilish
// 7 va——— cheksiz  planlar uyogi */